# Azure Application Insights
APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=dd2c0206-4c52-43e9-a88f-77e18c1a6915

# Axiom Configuration
AXIOM_TOKEN=xaat-4b39648e-d2fb-45eb-aa4d-68ce3bbda173
AXIOM_DATASET=vise-api-axiom

# OpenTelemetry - Grafana Tempo
TEMPO_URL=https://tempo-<juanito040>.grafana.net/otlp/v1/traces
TEMPO_USER=<juanito040>
TEMPO_TOKEN=<tu_api_token>

# Application
NODE_ENV=production
